

/*Hide the GraphiQL execute button only if one of its parents has the hide-execute-button class */
.hide-execute-button .graphiql-execute-button {
  display: none;
}


/* Hide only the response pane during alerting. Its parent also contains the query and variables editors. */
.hide-execute-button .graphiql-response {
  display: none !important;
}


/* Hide the tab bar — tabs make no sense for a single-query panel editor */
.graphiql-container .graphiql-session-header {
  display: none !important;
}


/*
Until either https://github.com/grafana/grafana/issues/85044 is fixed or https://github.com/graphql/graphiql/issues/3565
is fixed, we need to disable pointer events for any info tooltips that have "javascript:void 0" as their href.
*/
/*.CodeMirror-info a {*/
/*  pointer-events: none;*/
/*}*/
